*,
::after,
::before {
  font-family: "Roboto Slab", serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #0E0C13;
}

.morphing {
  position: relative;
  background-color: #000;
  color: #fff;
  min-height: 100vh;
}

.word {
  text-align: center;
  position: absolute;
  font-size: 2em;
  top: 50%;
  left: 50%;
  -webkit-filter: blur(1em) opacity(0);
          filter: blur(1em) opacity(0);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: wordi 2s linear forwards;
          animation: wordi 2s linear forwards;
}

@-webkit-keyframes wordi {
  0% {
    -webkit-filter: blur(1em) opacity(0);
            filter: blur(1em) opacity(0);
  }
  100% {
    -webkit-filter: blur(0) opacity(1);
            filter: blur(0) opacity(1);
  }
}

@keyframes wordi {
  0% {
    -webkit-filter: blur(1em) opacity(0);
            filter: blur(1em) opacity(0);
  }
  100% {
    -webkit-filter: blur(0) opacity(1);
            filter: blur(0) opacity(1);
  }
}

.wordOne {
  text-align: center;
  position: absolute;
  font-size: 2em;
  top: 50%;
  left: 50%;
  -webkit-filter: blur(1em) opacity(0);
          filter: blur(1em) opacity(0);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: wordii 2s linear forwards;
          animation: wordii 2s linear forwards;
}

@-webkit-keyframes wordii {
  0% {
    -webkit-filter: blur(1em) opacity(0);
            filter: blur(1em) opacity(0);
  }
  100% {
    -webkit-filter: blur(0) opacity(1);
            filter: blur(0) opacity(1);
  }
}

@keyframes wordii {
  0% {
    -webkit-filter: blur(1em) opacity(0);
            filter: blur(1em) opacity(0);
  }
  100% {
    -webkit-filter: blur(0) opacity(1);
            filter: blur(0) opacity(1);
  }
}

.wordTwo {
  text-align: center;
  position: absolute;
  font-size: 2em;
  top: 50%;
  left: 50%;
  -webkit-filter: blur(1em) opacity(0);
          filter: blur(1em) opacity(0);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: wordiii 2s linear forwards;
          animation: wordiii 2s linear forwards;
}

@-webkit-keyframes wordiii {
  0% {
    -webkit-filter: blur(1em) opacity(0);
            filter: blur(1em) opacity(0);
  }
  100% {
    -webkit-filter: blur(0) opacity(1);
            filter: blur(0) opacity(1);
  }
}

@keyframes wordiii {
  0% {
    -webkit-filter: blur(1em) opacity(0);
            filter: blur(1em) opacity(0);
  }
  100% {
    -webkit-filter: blur(0) opacity(1);
            filter: blur(0) opacity(1);
  }
}

.response {
  border-style: solid;
  background-color: #414a4c;
  border-color: white;
  color: white;
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 11em;
  height: 4em;
  padding: 1em;
  text-align: center;
}

.response:hover {
  -webkit-transform: scale(1.1) translatex(-45%) translateY(-45%);
          transform: scale(1.1) translatex(-45%) translateY(-45%);
  -webkit-transition: -webkit-transform 0.1s ease;
  transition: -webkit-transform 0.1s ease;
  transition: transform 0.1s ease;
  transition: transform 0.1s ease, -webkit-transform 0.1s ease;
}

.vynil {
  position: relative;
  width: 10em;
  -webkit-animation: vynil 10s infinite linear;
          animation: vynil 10s infinite linear;
}

@-webkit-keyframes vynil {
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes vynil {
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

.play {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  height: 100vh;
  width: 100vw;
}

.jp {
  text-align: center;
}

.pua {
  position: absolute;
  z-index: 5;
}

.pua > image {
  position: absolute;
  transform-box: fill-box;
  -webkit-transform: rotateZ(-11deg) translate(-3em, 1em);
          transform: rotateZ(-11deg) translate(-3em, 1em);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation: pua 2s linear forwards;
          animation: pua 2s linear forwards;
}

@-webkit-keyframes pua {
  100% {
    -webkit-transform: rotateZ(10deg) translate(-1em, -4em);
            transform: rotateZ(10deg) translate(-1em, -4em);
  }
}

@keyframes pua {
  100% {
    -webkit-transform: rotateZ(10deg) translate(-1em, -4em);
            transform: rotateZ(10deg) translate(-1em, -4em);
  }
}

.vinilo {
  position: absolute;
  z-index: 3;
}

.vinilo > image {
  position: absolute;
  z-index: 3;
  -webkit-animation: vinilo 5s linear infinite;
          animation: vinilo 5s linear infinite;
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes vinilo {
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes vinilo {
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

.brillo {
  position: absolute;
  z-index: 4;
}

.brillo > image {
  -webkit-animation: brillo .1s linear infinite;
          animation: brillo .1s linear infinite;
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes brillo {
  100% {
    -webkit-transform: rotateZ(1deg);
            transform: rotateZ(1deg);
  }
}

@keyframes brillo {
  100% {
    -webkit-transform: rotateZ(1deg);
            transform: rotateZ(1deg);
  }
}

.trackDescriber {
  position: absolute;
  z-index: 4;
  top: 30%;
  font-size: 1em;
  font-weight: bolder;
  color: #FFFFFF;
  -webkit-transform: rotateZ(-2deg) translate(41px, 26px);
          transform: rotateZ(-2deg) translate(41px, 26px);
}

.instagram {
  width: 2em;
}

.contact:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 1s linear ease;
  transition: -webkit-transform 1s linear ease;
  transition: transform 1s linear ease;
  transition: transform 1s linear ease, -webkit-transform 1s linear ease;
}

.contacts {
  position: absolute;
  top: 70%;
  left: 5%;
  z-index: 6;
  gap: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  width: 23em;
}

.instagram {
  grid-column: 2/span2;
}

.contact {
  width: 6em;
  height: 5em;
  width: 6em;
  padding: .5em;
  background-color: transparent;
  border: solid;
  border-color: #000;
  border-radius: 10px;
  font-family: inherit;
  font-weight: bolder;
  padding: 1em;
  font-size: 1em;
}

#jupe {
  margin-left: -1.5em;
}

@media all and (min-width: 600px) {
  #jupe {
    margin-left: 0;
  }
  .trackDescriber {
    position: absolute;
    z-index: 4;
    font-size: 1em;
    font-weight: bolder;
    color: #FFFFFF;
    -webkit-transform: rotateZ(-2deg) translate(41px, 26px);
            transform: rotateZ(-2deg) translate(41px, 26px);
    left: 42%;
    top: 6%;
    font-size: 2em;
  }
  .pua > image {
    position: absolute;
    transform-box: fill-box;
    -webkit-transform: rotateZ(-4deg) translate(-1em, 0em);
            transform: rotateZ(-4deg) translate(-1em, 0em);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-animation: pua 2s linear forwards;
            animation: pua 2s linear forwards;
  }
  @-webkit-keyframes pua {
    100% {
      -webkit-transform: rotateZ(18deg) translate(0em, -2em);
              transform: rotateZ(18deg) translate(0em, -2em);
    }
  }
  @keyframes pua {
    100% {
      -webkit-transform: rotateZ(18deg) translate(0em, -2em);
              transform: rotateZ(18deg) translate(0em, -2em);
    }
  }
  .instagram {
    width: 2em;
  }
  .contacts {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 80%;
    left: 5%;
    z-index: 6;
    gap: 1em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact {
    background-color: transparent;
    border: solid;
    border-color: #000;
    border-radius: 10px;
    font-family: inherit;
    font-weight: bolder;
    padding: 1em;
    font-size: 1em;
  }
  .contact:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: -webkit-transform 1s linear ease;
    transition: -webkit-transform 1s linear ease;
    transition: transform 1s linear ease;
    transition: transform 1s linear ease, -webkit-transform 1s linear ease;
  }
}
/*# sourceMappingURL=app.css.map */