*,
::after,
::before {
    font-family: "Roboto Slab", serif;
    box-sizing: border-box;
    margin: 0;
}
$speed: 10s;
$wordCount: 4;
$secondSpeed: 5s;
$secondWordCount: 2;
$thirdWordCount: 3;
$thirdSpeed: 2s;
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
background-color: #0E0C13;
}

.morphing {
    position: relative;
    background-color: #000;
    color: #fff;
    min-height: 100vh;
}
.word
{
    text-align: center;
    position: absolute;
    font-size: 2em;
    top: 50%;
    left: 50%;
    filter: blur(1em) opacity(0);
    transform: translate(-50%, -50%);
    animation: wordi 2s linear forwards;
    @keyframes wordi {
             0%{
                filter: blur(1em) opacity(0);
                 }
        100%{
            filter: blur(0) opacity(1);
        }
    }
}
.wordOne
{
    text-align: center;
    position: absolute;
    font-size: 2em;
    top: 50%;
    left: 50%;
    filter: blur(1em) opacity(0);
    transform: translate(-50%, -50%);
    animation: wordii 2s linear forwards;
    @keyframes wordii {
             0%{
                filter: blur(1em) opacity(0);
                 }
        100%{
            filter: blur(0) opacity(1);
        }
    }
}
.wordTwo
{
    text-align: center;
    position: absolute;
    font-size: 2em;
    top: 50%;
    left: 50%;
    filter: blur(1em) opacity(0);
    transform: translate(-50%, -50%);
    animation: wordiii 2s linear forwards;
    @keyframes wordiii {
             0%{
                filter: blur(1em) opacity(0);
                 }
        100%{
            filter: blur(0) opacity(1);
        }
    }
}


.response {
    border-style: solid;
    background-color: #414a4c;
    border-color: white;
    color: white;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 11em;
    height: 4em;
    padding: 1em;
    text-align: center;
}
.response:hover {
    transform: scale(1.1) translatex(-45%) translateY(-45%);
    transition: transform 0.1s ease;
}
.vynil
{
    position: relative;
    width: 10em;
    animation: vynil 10s infinite linear;
}
@keyframes vynil {

   
    100%{
        transform: rotateZ(360deg);

    }
}
.play
{
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    width: 100vw;
}
.jp
{
    text-align: center;
}
.pua{
    position: absolute;
z-index: 5;
}
.pua>image
{
    position:absolute;
    transform-box: fill-box;
    transform: rotateZ(-11deg) translate(-3em, 1em);
    transform-origin: top;
    animation: pua 2s linear forwards;

@keyframes pua {
100%{
    transform: rotateZ(10deg) translate(-1em, -4em);

}
}
}
.vinilo{
    position: absolute;
z-index: 3;

}
.vinilo>image{
    position:absolute;
    z-index: 3;
    animation: vinilo 5s linear infinite;
animation-delay: 2.4s;
transform-box: fill-box;
transform-origin:center;
@keyframes vinilo {
    100%{
        transform: rotateZ(360deg);
    }
}    
}
.brillo
{
position: absolute;
z-index: 4;
}
.brillo>image
{
animation: brillo .1s linear infinite;
animation-delay: 2.4s;
transform-box: fill-box;
transform-origin: center;
@keyframes brillo {
    100%{
        transform: rotateZ(1deg);
    }
}
}
.trackDescriber
{
    position:absolute;
    z-index: 4;
    top:30%;
    font-size: 1em;
font-weight: bolder;
color: #FFFFFF;
transform: rotateZ(-2deg) translate(41px,26px);
}
.instagram{
    width: 2em;
}

.contact:hover
{
    transform: scale(1.2);
    transition: transform 1s linear ease;
}
.contacts{
    position: absolute;
    top: 70%;
    left:5%;
    z-index:6;
    gap:1em;
    display: grid;
grid-template-columns: 1fr 1fr 1fr;
width: 23em;
}
.instagram{
    grid-column: 2/span2;
}
.contact
{
    width: 6em;
    height: 5em;
width: 6em;
padding: .5em;
background-color: transparent;
border:solid;
border-color: #000;
border-radius: 10px;
font-family: inherit;
font-weight: bolder;
padding: 1em;
font-size: 1em;
}
#jupe
{
 margin-left: -1.5em;
}
@media all and (min-width:600px) {
    #jupe
{
 margin-left:0;
}
    .trackDescriber
    {
        position:absolute;
        z-index: 4;
        font-size: 1em;
    font-weight: bolder;
    color: #FFFFFF;
    transform: rotateZ(-2deg) translate(41px,26px);
    left: 42%;
top: 6%;
font-size: 2em;
    }
    .pua>image
{
    position:absolute;
    transform-box: fill-box;
    transform: rotateZ(-4deg) translate(-1em, 0em) ;
    transform-origin: top;
    animation: pua 2s linear forwards;

@keyframes pua {
 
100%{
    transform: rotateZ(18deg) translate(0em, -2em);
}
}
}
.instagram{
    width: 2em;
}
.contacts{
    position: absolute;
    display: flex;
    top: 80%;
    left:5%;
    z-index:6;
    gap:1em;
    align-items: center;
}
.contact
{
    background-color: transparent;
    border:solid;
    border-color: #000;
    border-radius: 10px;
    font-family: inherit;
    font-weight: bolder;
    padding: 1em;
    font-size: 1em;
}
.contact:hover
{
    transform: scale(1.2);
    transition: transform 1s linear ease;
}
}
