*,
::after,
::before {
  font-family: "Roboto Slab", serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.morphing {
  position: relative;
  font-size: 120px;
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  -webkit-filter: contrast(25) blur(1px);
          filter: contrast(25) blur(1px);
}

.word {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: word 10s infinite ease-in-out;
          animation: word 10s infinite ease-in-out;
}

.word:nth-child(1) {
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
}

.word:nth-child(2) {
  -webkit-animation-delay: -8s;
          animation-delay: -8s;
}

.word:nth-child(3) {
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
}

.word:nth-child(4) {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}

@-webkit-keyframes word {
  0%,
  5%,
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
  20%,
  80% {
    -webkit-filter: blur(1em);
            filter: blur(1em);
    opacity: 0;
  }
}

@keyframes word {
  0%,
  5%,
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
  20%,
  80% {
    -webkit-filter: blur(1em);
            filter: blur(1em);
    opacity: 0;
  }
}

.secondWords {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: word 5s infinite ease-in-out;
          animation: word 5s infinite ease-in-out;
}

.secondWords:nth-child(1) {
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
}

.secondWords:nth-child(2) {
  -webkit-animation-delay: -3.33333s;
          animation-delay: -3.33333s;
}

@keyframes word {
  0%,
  5%,
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
  20%,
  80% {
    -webkit-filter: blur(1em);
            filter: blur(1em);
    opacity: 0;
  }
}

.thirdWords {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: word 5s infinite ease-in-out;
          animation: word 5s infinite ease-in-out;
}

.thirdWords:nth-child(1) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

.thirdWords:nth-child(2) {
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
}

@keyframes word {
  0%,
  5%,
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
  20%,
  80% {
    -webkit-filter: blur(1em);
            filter: blur(1em);
    opacity: 0;
  }
}

.response {
  border-style: solid;
  background-color: #414a4c;
  border-color: white;
  color: white;
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 11em;
  height: 4em;
  padding: 1em;
  text-align: center;
}

.response:hover {
  -webkit-transform: scale(1.1) translatex(-45%) translateY(-45%);
          transform: scale(1.1) translatex(-45%) translateY(-45%);
  -webkit-transition: -webkit-transform 0.1s ease;
  transition: -webkit-transform 0.1s ease;
  transition: transform 0.1s ease;
  transition: transform 0.1s ease, -webkit-transform 0.1s ease;
}

.vynil {
  position: relative;
  width: 10em;
  -webkit-animation: vynil 10s infinite linear;
          animation: vynil 10s infinite linear;
}

@-webkit-keyframes vynil {
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes vynil {
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

.play {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  height: 100vh;
  width: 100vw;
}
/*# sourceMappingURL=app.css.map */